.main {
    margin-left: 270px;
    padding: 30px;
}

code {
    font-family: 'Poppins';
}

label.error {
    color: red;
    position: absolute;
    font-size: 13px;
    bottom: -10px;
    left: 15px;
}

.pro-sidebar {
    position: fixed !important;
    background: white;
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 101;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 12px 3px 20px #00000029;
    opacity: 1;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    padding: 8px 0 8px 35px !important;
}


/* Header */

/* Table */

.btn-pagination {
    background-color: #0052bb;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 0 3px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pagination.disabled {
    background-color: #a5a5a5;
    cursor: default;
}


/* .main-header {
    
} */

.doctor-tab {
    text-align: center;
}

@media (min-width: 991px) {
    .modal-dialog {
        max-width: 900px !important;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 1100px !important;
    }
}